* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

p {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(209, 203, 203);
}

.menu {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  list-style: none;
  padding: 0;
  background: black;
  width: 100%;
  max-width: auto;
  margin: 0;
  font-size: 40px;
}
.menu .Logo {
  width: auto;
  height: 100px;
  grid-column: start;
}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.barraInferior {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  list-style: none;
  padding: 0;
  background: black;
  width: 100%;
  max-width: auto;
  margin: auto;
  bottom: 0;
  position: absolute;
}

.barraInferior li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

.barraInferior li {
  display: inline-block;
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: white;
  padding: 50px 0;
}

.banner h1 {
  font-size: 3rem;
  margin: 0;
  line-height: 1.5;
}

.descripcion {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  color: #000;
}

.ImagenCentral {
  width: 350px;
  margin-right: 100px;
  transform: rotate(-20deg);
}

.ImagenCentral2 {
  width: 350px;
  margin-left: 100px;
  transform: rotate(20deg);
}

.Letra1, .Letra3, .Letra2 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}

.VentaPubli, .VentaPubli2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}

.Venta, .Venta3, .Venta2, .Venta1 {
  display: inline-block;
  width: 20%;
  margin: auto;
  padding: 0.5rem;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 10%;
}

.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  text-decoration: underline;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #000000;
  transition: 0.5s ease;
}

.btn:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: rgb(0, 0, 0);
}

.nosotrosletra {
  list-style: none;
  padding: 0;
  width: 90%;
  max-width: 1000px;
  margin: 10px auto;
}

.nosotrosletra p {
  text-align: center;
  color: white;
  background-color: black;
}

.nosotrosletra h2 {
  text-align: center;
  margin: 10px auto;
  color: white;
  background-color: black;
}

@media screen and (max-width: 600px) {
  .nosotrosletra p, .nosotrosletra h2 {
    font-size: 1.2rem;
  }
  .nosotrosletra {
    width: 100%;
    padding: 10px;
  }
  .menu {
    font-size: 20px;
    align-items: center;
  }
}
.ubicacion {
  width: auto;
  height: auto;
  margin: auto;
  display: block;
}

@media screen and (max-width: 600px) {
  .ubicacion {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
  }
}
.redes {
  width: fit-content;
  height: fit-content;
  background-color: rgb(209, 203, 203);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  position: fixed;
}

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}

.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}

.containerFour:hover {
  background-color: #128C7E;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
h1 {
  text-align: center;
  color: white;
  background-color: black;
  margin: 20px auto;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
